.header-main {
  width: 100%;
  .upper-header {
    height: auto; 
    background: #fff;
    box-shadow: 0px 15px 40px 0px rgba(23, 23, 25, 0.05);
    padding: 16px 200px;
    align-items: center;
    width: 100%;
    .main-logo{
      height: 3.5rem;
    }
    .upper-menu-options {
      .options {
        list-style: none;
        margin: 0;
        margin-bottom: 0;
        gap: 18px;
        .each-option {
          cursor: pointer;
        }
        .each-option {
          .dropdown-toggle::after {
            display: none;
          }
          .user-menu {
            border-radius: 8px;
            background: #fff;
            box-shadow: 0px 8px 20px 0px rgba(30, 30, 30, 0.12);
            border: none;
            left: -60px;
            top: 62px;

            .user-options {
              width: 100%;
              list-style: none;
              padding-left: 0;
              .each-user-option {
                a {
                  color: #171719;
                  text-align: center;
                  font-family: "Montserrat";
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 600;
                  text-decoration: none;
                  display: flex;
                  padding: 10px 24px;
                  align-items: center;
                  gap: 8px;
                  align-self: stretch;
                }
              }
              .each-user-option:hover {
                background: #d18b28;
                a {
                  color: #fff;
                  img {
                    filter: invert(1);
                  }
                }
              }
            }
          }
        }
        .each-option.search {
          display: flex;
          width: 44px;
          height: 44px;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 50%;
          background: #171719;
          box-shadow: 0px 10px 20px 0px rgba(23, 23, 25, 0.05);
        }
      }
    }
  }
  .bottom-menu {
    background: #171719;
    position: relative;
    
    .navbar-collapse {
      background: #171719;
      z-index: 2;
    }
    .big-menu-content {
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background: #fff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
      z-index: 999;
    }
    .navbar {
      .navbar-toggler-icon {
        filter: brightness(1) invert(1);
      }
    }
    .navbar-nav {
      margin: 16px 250px;
      gap: 20px;

      .nav-item {
        a {
          color: #fff;
        }
        .dropdown-toggle::after {
          display: none;
        }
      }
      .each-bt-menu:hover {
        .nav-link {
          color: #d18b28;
        }
      }
      .nav-item.dropdown {
        position: inherit;
        .mega-menu-dropdown {
          width: 100%;
          left: 0;
          border-radius: 0;
          background: #fff;
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
          padding: 64px 200px;
          position: absolute;
          .sub-menu-content-list {
            .sub-title {
              color: #171719;
              font-family: "Fahkwang";
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 160%; /* 25.6px */
              letter-spacing: 1px;
              text-transform: uppercase;
              margin-bottom: 0;
            }
            hr {
              margin: 0 0 24px 0;
            }
            .sub-menus {
              list-style: none;
              padding-left: 0px;
              display: flex;
              flex-direction: column;
              gap: 16px;
              .each-sub-option {
                a {
                  color: #9f9f9f;
                  font-family: "Poppins";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  text-decoration: none;
                }
              }
              .each-sub-option:hover {
                a {
                  color: #d18b28;
                }
              }
            }
            .option-img {
              width: auto;
              height: 270px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .header-main .upper-header {
    padding: 16px 40px;
  }
  .header-main .bottom-menu .navbar-nav {
    margin: 0 auto;
    align-items: center;
  }
  .upper-menu-options {
    .options {
      .each-option {
        .user-menu {
          left: -100px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .header-main .bottom-menu .navbar-nav {
    margin: 0 auto;
    align-items: center;
  }
}
