.error {
  color: #e85347;
  font-size: 16px;
  font-style: italic;
  padding-top: 15px !important;
}

.main_app {
 padding-top: 173px;

  // Override the padding-top value for unauthenticated users
  &.unauthenticated {
    padding-top: 0;
  }
}
